<div class="full-post">
      <div>
      <h5><%= @post.title %> by <%= @post.author.name %></h5>
      <p> 
        <small>Comments: <%= @post.comments_counter || 0 %>, </small>
        <small> Likes: <%= @post.likes_counter || 0 %></small>
      </p>
    </div>
    <p class="bold"><%= @post.text %></p>
</div>
<div class="form-group comment-form">
  <%= form_with model: [:post, @comment] do |form| %>
    <div class="comment-text">
      <%= form.text_area :text, placeholder: 'Write your comment...' %>
    </div>
    <div class="comment-text">
      <%= form.submit %>
    </div>
  <% end %>
</div>