<%= link_to user_post_path(post.author, post) do %>
  <li class="post">
    <h5>Post #<%= "#{post.id}" %> <%= post.title %></h5>
    <p><%= post.text[0..200] ... %></p>
    <div class="comment-section">
      <p> 
        <small>Comments: <%= post.comments_counter || 0 %>, </small>
        <small> Likes: <%= post.likes_counter || 0 %></small>
      </p>
      <div>
        <% if can? :destroy, post %>
          <%= link_to 'Delete', user_posts_path(post.author), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= link_to new_post_comment_path(post) do %>
          <%= image_tag("comment.svg")%>
        <% end %>
        <%= button_to post_likes_path(post), method: 'post' do %>
          <%= image_tag("like.svg") %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
