<%= link_to user_post_path(post.author, post) do %>
  <li class="post">
    <h5>Post #<%= "#{post.id}" %> <%= post.title %></h5>
    <p><%= post.text[0..200] ... %></p>
    <div class="comment-section">
      <p> 
        <small>Comments: <%= post.comments_counter || 0 %>, </small>
        <small> Likes: <%= post.likes_counter || 0 %></small>
      </p>
      <div>
        <%= link_to new_post_comment_path(post) do %>
          <%= image_tag("comment.svg")%>
        <% end %>
        <%= link_to image_tag("like.svg")%>
      </div>
    </div>
  </li>
<% end %>
