<li class="card">
  <div>
    <%= image_tag "#{user.photo}" %>
  </div>
  <%= link_to(user) do %>
    <div class="card-details">
      <div>
          <h2><%= user.name %></h2>
          <p>Number of posts:<%= user.posts_counter || 0 %></p>
      </div>
      <% if current_page?(users_path) %>
        <p><%= user.bio[0..100]... %></p>
      <% end %> 
      <div>
        <% if current_page?(users_path) %>
          <%= link_to 'View User', user %>
        <% end %>
      </div>
    </div>
  <% end %>
</li>
