<div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <div>
          <p><%= post.author.name %></p>
          <p><%= post.title %></p>
          <p><%= post.text %></p>
        </div>
        <%= link_to 'See full post', user_post_path(post.author, post) %>
        <div>
          <ul>
            <% post.recent_comments.each do |comment| %>
              <li>
                <p><%= comment.author.name %></p>
                <p><%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>