<section class='all-posts'>
  <div class="show-user" >
    <%= render "shared/user", :user => @user %>
  </div>
  <% if @posts.empty? %>
    <p>User has no posts yet</p>
  <% else %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= render 'shared/post', :post => post %>
        <% if post.recent_comments != [] %>
        <div class="comments">
          <ul class="progress-bar">
            <% post.recent_comments.each do |comment| %>
              <li>
                <p><%= comment.author.name %>: <%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <%= link_to new_post_path do %>
    <div class="posts-btn">
      <%= image_tag 'add.svg' %>
      <p>Create Post</p>
    </div>
  <% end %>
</section>