<section>
  <div class="full-post">
    <div>
      <h5><%= @post.title %> by <%= @post.author.name %></h5>
      <p> 
        <small>Comments: <%= @post.comments_counter || 0 %>, </small>
        <small> Likes: <%= @post.likes_counter || 0 %></small>
      </p>
    </div>
    <p class="bold"><%= @post.text %></p>
    <% if can? :destroy, @post %>
    <%= button_to 'Delete Post', posts_delete_path, method: :delete %>
  <% end %>
  </div>
  <% if @post.comments != [] %>
  <div class="comments">
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <button class='post-btn'>
    <%= link_to 'See all posts', user_posts_path(@post.author) %>
  </button>
</section>
