<!DOCTYPE html>
<html>
  <head>
    <title>FitnessBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% flash.each do |type, msg| %>
      <div class="flash-msg">
        <%= msg %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
